.flex-container{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
}
.half-width{
    width: 80%;
    padding-left: 8%;
}
.half-width img{
    width: 60%;
    padding-left: 10%;
}
.half-width span{
    color: rgba(255, 123, 0, 0.822);
}
.half-width h1{
    font-size: 50px;
    font-family: Abril Fatface, cursive;
    border-left: 3px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    padding: 20px;
}

/* button styles */

.button-style{
    background-color: blue;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(blue, cyan);
    color: whitesmoke;
    font-weight: 700;
    padding-bottom: 10px;
    text-decoration: none;
}
.description{
    margin-bottom: 30px;
}
.section-2-h1{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.section-2-h1 span{
    color: crimson;
}
.flex-container-2{
    display: flex;
    width: 50%;
    padding-left: 1%;
    padding-right: 10%;
    box-sizing: content-box;
    margin: 50px;
}
.flex-container-2 img{
    width: 250px;
    height: 250px;
}
.flex-container-2 p{
    text-align: justify;
}
.first-flex{
    background-color: rgb(231, 224, 224);
    border-radius: 20px;
    padding: 30px 40px;
    margin: 60px;
    margin-right: 1%;
    margin-bottom: 1%;
}
.secound-flex{
    background-color: rgb(252, 202, 162);
    border-radius: 20px;
    padding: 30px 40px;
    margin: 60px;
    margin-right: 1%;
    margin-bottom: 1%;
}
.third-flex{
    background-color: rgb(238, 227, 126);
    border-radius: 20px;
    padding: 30px 40px;
    margin: 60px;
    margin-right: 1%;
    margin-bottom: 1%;
}
.container-3{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    margin-bottom: 60px;
}
.images img{
    width: 60%;
    padding-left: 20%;
}
.develop-limits{
    width: 80%;
    padding-right: 10%;
    padding-left: 1%;
    margin-right: 10%;
    padding-top: 2%;
}
.develop-limits h1{
    font-weight: 700;
    font-size: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-right: 8%;
}
.develop-limits p{
    padding-left: 2%;
    text-align: justify;
}
.container-4{
    
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15%;
    margin-bottom: 60px;
}
.community{
    
    width: 90%;
    padding-left: 10%;
    padding-top: 4%;
    margin-right: 15%;
    padding-bottom: 80px;
}
.community p{
    text-align: justify;
}
.community h1{
    font-weight: 700;
    font-size: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.community-images img{
    width: 350px;
    margin-right: 90px;
}
.app{
    display: flex;
    margin-bottom: 60px
}
.last-heading{
    font-weight: 700;
    font-size: 25px;
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: center;
}
.last-heading span{
    color: orangered;
}
.app img{
    width: 300px;
    margin-left: 250px;
}
.go-corona{
    width: 90%;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 3%;
}
.go-corona p{
    text-align: justify;
}
.go-corona span{
    color: orangered;
}
.go-corona h1{
    font-size: 40px;
    font-weight: 700;
}
footer{
    background-color: rgb(39, 34, 34);
    height: auto;
    text-align: center;
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 30px;
    position: absolute;           /* position absulate for full footer background color*/
}
.div-footer h1{
    color: white;
    font-size: 30px;
    padding-bottom: 15px;
}
.div-footer span{
    color: orangered;
}
.div-footer p{
    color: white;
    font-size: 15px;

}